.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}
.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #008080;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
}
