.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  padding: 20px;
}
.settingsImage {
  width: 70vw;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpdateTitle {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f08080;
}
.settingsDeleteTitle {
  color: #ff0000;
  font-size: 17px;
  cursor: pointer;
}
.settingsForm {
  display: flex;
  flex-direction: column;
}
.settingsPP {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.settingsPP > img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.settingsPPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: #fff;
  background-color: green;
  cursor: pointer;
}
.settingsPPButton:focus {
  outline-style: none;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsPPInput {
  width: 30%;
}

.settingsForm > input {
  color: #808080;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.settingsSubmit {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #008080;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsSubmit:hover {
  background-color: #034646;
}
